<div class="row">
    <div class="col-12">
        <div class="page-breadcrumb">
            <div class="d-md-flex align-items-center">
                <h3 class="page-title">Estatus de Grupos</h3>
                <div class="ms-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" tabindex="0"><a href="javascript:void(0)">Componente</a></li>

                            <li class="breadcrumb-item active">Estatus</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Estatus de Grupos</h4>

                <hr>
                <!--Inputs-->
                <div class="d-flex mb-3 mt-3">
                    <input type="text" placeholder="Buscar..." class="form-control w-25 ng-untouched ng-pristine ng-valid">
                    <button class="btn btn-descargar ms-auto">
                        Descargar
                    </button>
                    <button class="btn btn-compartir ms-3">
                        Compartir
                    </button>
                    <button class="btn btn-actualizar ms-3">
                        Actualizar
                    </button>
                    <button class="btn btn-procesos ms-3">
                        Procesos
                    </button>
                    <button class="btn btn-carrera ms-3">
                        Carrera
                    </button>
                </div>

                <!--Tabla-->
                <div class="table-responsive">
                    <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center"> Grupo </th>
                                <th scope="col" class="text-center"> Numero de Inscritos </th>
                                <th scope="col" class="text-center"> Participaron </th>
                                <th scope="col" class="text-center"> Culminaron </th>
                                <th scope="col" class="text-center"> Porcentaje que Participo </th>
                                <th scope="col" class="text-center"> Porcentaje que Culmino </th>
                            </tr>
                        </thead>
                        <tbody>
                           
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

