.btn-descargar{
    background-color: #FF6624;
    color: #fff;
}

.btn-compartir{
    background-color: #0C59CF;
    color: #fff;
}

.btn-actualizar{
    background-color: #FEC63D;
    color: #fff;
}

.btn-procesos{
    background-color: gray;
    color: #fff;
}

.btn-carrera{
    background-color: #705CEE;
    color: #fff;
}