.menuleft {
    color: white !important;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: white !important;
    }
  }

  hr{
    background-color: white;
  }

  .sidebar-item.active > a,
  .sidebar-item.active > a:hover,
  .submenu .sidebar-item.active > a,
  .submenu .sidebar-item.active > a:hover,
  .menuleft.active {
    color: white !important;
  }

  .sidebar-nav {
    background-color: #202123; 
    height: 100vh;
    overflow-y: auto; 
    height: 860px;
    margin-top: 20px;
  }

  .btn-danger{
    margin-top: 370px;
  }