h3{
    text-align: center;
}

.titulo {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.subtitulo{
    text-align: center;
    font-size: 15px;
}

p{
    text-align: center;
}

button {
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-item {
    margin: 10px;
}

.btn-descargar{
    background-color: #FF6624;
    color: #fff;
    margin-top: 10px;
}

.btn-compartir{
    background-color: #0C59CF;
    color: #fff;
    margin-top: 10px;
}

.btn-actualizar{
    background-color: #FEC63D;
    color: #fff;
    margin-top: 10px;
}

.btn-procesos{
    background-color: gray;
    color: #fff;
    margin-top: 10px;
}

.btn-carrera {
    background-color: #705CEE;
    color: #fff;
    margin-top: 10px;
}

