<div class="row">
    <div class="col-12">
        <div class="page-breadcrumb">
            <div class="d-md-flex align-items-center">
                <h3 class="page-title">Claves para Tutores</h3>
                <div class="ms-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" tabindex="0"><a href="javascript:void(0)">Componente</a></li>

                            <li class="breadcrumb-item active">Claves</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
