// General styles
h3 {
    text-align: center;
}

.container-large {
    width: 100%;
    max-width: 1300px; // Adjust this value as needed
    margin: 0 auto;
}

.scrollable-container {
    max-height: 400px; 
    overflow-y: auto;
  }

.titulo {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.subtitulo {
    text-align: center;
    font-size: 15px;
}

p {
    text-align: center;
}

button {
    margin-bottom: 30px;
}

// Cards container styles
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-item {
    margin: 10px;
}

// Button styles
.btn-descargar {
    background-color: #FF6624;
    color: #fff;
    margin-top: 10px;
}

.btn-compartir {
    background-color: #0C59CF;
    color: #fff;
    margin-top: 10px;
}

.btn-actualizar {
    background-color: #FEC63D;
    color: #fff;
    margin-top: 10px;
}

.btn-procesos {
    background-color: gray;
    color: #fff;
    margin-top: 10px;
}

.btn-carrera {
    background-color: #705CEE;
    color: #fff;
    margin-top: 10px;
}

// Modal styles
.modal-blur {
    background: rgba(0, 0, 0, 0.5);
}

p-dialog {
    .ui-dialog {
        border-radius: 10px;
        padding: 20px;
        background: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .ui-dialog-titlebar {
        border-radius: 10px 10px 0 0;
        background: #705CEE;
        color: #fff;
    }
    
    .ui-dialog-content {
        padding: 20px;
    }

    .ui-dialog-footer {
        text-align: right;
        padding: 10px 20px;
        background: #f1f1f1;
        border-radius: 0 0 10px 10px;
    }
}