<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="resultados.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <div class="page-breadcrumb">
                    <div class="d-md-flex align-items-center">
                        <div class="ml-auto mb-0">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item" tabindex="0"><a href="javascript:void(0)">Componente</a></li>
                                    <li class="breadcrumb-item active">Resultados</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-0">
            <div class="card-body">
                <h4 class="card-title">Resultados</h4>
                <hr>
                <div class="d-flex flex-wrap mb-3 mt-3">
                    <input type="text" placeholder="Buscar..." class="form-control w-100 w-md-25 mb-2 mb-md-0">
                    <button class="btn btn-descargar ml-auto mb-2 mb-md-0">
                        <i class="fas fa-download"></i> Descargar
                    </button>
                    <button class="btn btn-compartir ml-3 mb-2 mb-md-0">
                        <i class="fas fa-share-alt"></i> Compartir
                    </button>
                    <button class="btn btn-actualizar ml-3 mb-2 mb-md-0">
                        <i class="fas fa-sync-alt"></i> Actualizar
                    </button>
                    <button class="btn btn-procesos ml-3 mb-2 mb-md-0" (click)="showDialogProcesos()">
                        <i class="fas fa-cogs"></i> Procesos
                    </button>
                    <button class="btn btn-carrera ml-3 mb-2 mb-md-0" (click)="showDialog()">
                        <i class="fas fa-flag-checkered"></i> Carrera
                    </button>
                </div>
                
                <div class="row cards-container">
                    <div class="col-md-6 col-lg-3 card-item" *ngFor='let topcard of topcards'>
                        <div class="card shadow">
                            <div class="card-header">
                                <h3 class="titulo">{{topcard.title}}</h3>
                            </div>
                            <div class="card-body">
                                <div class="align-items-center">
                                    <div class="ml-3">
                                        <h4 class="subtitulo font-weight-bold">{{topcard.subtitle}}</h4>
                                        <p class="text-muted fs-3">{{topcard.header}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mb-3 flex-wrap">
                                <button type="button" class="btn btn-primary btn-sm mr-2 mb-2">
                                    <i class="fas fa-download"></i> Descargar
                                </button>
                                <button type="button" class="btn btn-warning btn-sm mb-2">
                                    <i class="fas fa-share-alt"></i> Compartir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

        <!-- Modal Carrera -->
        <div [ngClass]="{'modal-blur': isModalOpen}">
            <p-toast position="top-center"></p-toast>
            <p-dialog [header]="isEditMode ? 'Editar clave' : 'Seleccionar carrera'" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '25vw' }" [draggable]="false" [resizable]="false" (onHide)="hideDialog()">
              <p-messages [(value)]="note" [enableService]="false" />
              
              <form [formGroup]="form" (ngSubmit)="select()">
                <div class="form-group">
                  <label for="carrera" class="col-lg-4 col-form-label fw-bold fs-3">Carrera <i class="text-danger">*</i></label>
                  <select class="form-control" formControlName="carrera" id="carrera" name="carrera">
                    <option value="" disabled>Seleccione una carrera</option>
                    <option value="TIDSM">TIDSM</option>
                    <option value="MAMP">MAMP</option>
                    <option value="MA">MA</option>
                  </select>
                </div>
          
                <br>
          
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <button type="submit" class="btn btn-success mb-2 mb-md-0">Seleccionar</button>
                      <button type="button" class="btn btn-danger ml-3 mb-2 mb-md-0" (click)="hideDialog()">Cancelar</button>
                    </div>
                  </div>
                </div>
              </form>
            </p-dialog>
          </div>

          <!-- Modal Procesos -->
<div [ngClass]="{'modal-blur': isModalOpenProcesos}">
    <p-dialog [header]="'Seleccionar proceso'" [(visible)]="visibleProcesos" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '25vw' }" [draggable]="false" [resizable]="false" (onHide)="hideDialogProcesos()">
        <p-messages [(value)]="noteProcesos" [enableService]="false" />
        
        <form [formGroup]="form" (ngSubmit)="selectProcesos()">
            <div class="form-group">
                <label for="proceso" class="col-lg-4 col-form-label fw-bold fs-3">Proceso <i class="text-danger">*</i></label>
                <select class="form-control" formControlName="proceso" id="proceso" name="proceso">
                    <option value="" disabled>Seleccione un proceso</option>
                    <option value="Proceso1">Oficial 30</option>
                    <option value="Proceso2">Oficial 31</option>
                    <option value="Proceso3">Oficial 32</option>
                </select>
            </div>
      
            <br>
      
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success mb-2 mb-md-0">Seleccionar</button>
                        <button type="button" class="btn btn-danger ml-3 mb-2 mb-md-0" (click)="hideDialogProcesos()">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
</div>